.main-about{
    @include flexCenterColumn ();
}
.about1{
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 500px;
}
.about1::after{
    content: '';
    width: 10px;
    height: 57%;
    background: $gradient-red;
    position: absolute;
    left: -40px;
    top: 8px;
}
.about1 h1{
    font-size: $h-small;
}
.about1 h3{
    text-align: center;
    color: $white;
    background: $gradient-red;
    padding: 10px 5px;
    font-style: italic;
    font-weight: 500;
    margin: 0;
}
.about2{
    position: relative;
    flex-basis: 100%;
    @include flexCenterColumn ();
    margin-left: 10px;
    margin-right: 10px
}
.team{
    @include flexCenterColumn ();
}
.team img{
    height: auto;
    width: 60%;
}
.team ul{
    margin-top: 0;
    padding: 1px;
    width: 70%;
    list-style: none;

}
.team ul li{
    padding-top: 10px;
    font-weight: 600;
    text-align: center;
}
.team ul li:first-child{
    padding-top: 0;
}
.team p{
    padding-left: 5px;
    width: 60%;
    max-width: 450px;
    margin-left: 10%;
    margin-right: 10%;
}
@media (min-width:912px) {
    .main-about{
       margin-bottom: auto;
    }
    .about1{
        flex-basis: 40%;
        max-width: 100%;
    }
    .about1 h1{
        font-size: $h-big;
    }
    .about1 h3{
        font-size: larger;
    }
    .about1 p{
        font-weight: 500;
        font-size: large;
    }
    .about2 h2{
        font-size: xx-large;
    }
    .team-wrapper{
        @include flexCenterRowWrap();
        margin-left: 10%;
        margin-right: 10%;
    }
    .team ul{
        max-width: 300px;
    }
    .team p{
        max-width: 300px;
        // width: 40%;
    }
    .team img{
        width: 70%;
    }
}
@media (min-width:2519px) {
    .team img{
        margin-right: 80px;
        margin-left: 80px;
    }
}