.main-index{
    @include flexCenterColumn ();
}
.index1{
    position: relative;
    margin-left: 50px;
    flex-basis: 100%;
}
.index1::after{
    content: '';
    width: 10px;
    height: 57%;
    background: $gradient-red;
    position: absolute;
    left: -40px;
    top: 8px;
}
.index1 h1{
    font-size: $h-medium;
}
.index1 h3{
    font-size: 25px;
    font-weight: 100;
    margin: 20px 0 10px;
    max-width: 489px;
}
.index1 p{
    font-size: 20px;
    font-weight: 100;
}
.CTA-btn{
    max-width: 140px;
    text-decoration: none;
    border: 0;
    padding: 12px 20px;
    color: $white;
    background: $btn-red;
    border-radius: 10px;
    cursor: pointer;
    font-size: larger;
}
.index2{
    position: relative;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
.x-pic{ 
    height: auto;
    width: 77vw;
    margin-top: 10%;
    max-width: 500px;
}
.color-box-index2{
    position: absolute;
    background: $gradient-red;
    border-radius: 50px;
    height: 94%;
    width: 100%;
    z-index: -1;
    margin-top: 10%;
    max-width: 525px;
}

@media (min-width:1200px) {
    .main-index{
        @include flexCenterRowWrap();
        margin-bottom: auto;
        margin-top: 7vh;
        margin-bottom: 3vh;
    }
    .index1{
        margin-left: 15%;
        flex-basis: 40%;
    }
    .index1 h1{
        font-size: $h-big;
    }
    .index1 h3{
        font-size: $h-small;
    }
    .index2{
        margin-right: 10%;
        flex-basis: 30%;
        justify-content: space-between;
    }
    .x-pic{
        width: 90%;
        margin-left: 2%;
    }
    .color-box-index2{
        width: 94%;
    }
}