.main-references{
    @include flexCenterColumn ();
}
.references1{
    position: relative;
    @include flexCenterColumn ();
    margin-left: 10px;
    margin-right: 10px
}
.references1 h1{
    margin-top: 3.5vh;
    font-weight: 600;
    @include h1 ();
}
.reference{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    margin-top: 10%;
    margin-bottom: 10%;
    background: $btn-red;
    border-radius: 10px;
    min-height: 340px;
}
.reference h2{
    color: $white;
    font-size:large;
    margin-left: 10px;
    margin-right: 10px;
}
.reference h3{
    color: black;
    font-size: small;
    white-space: nowrap;
    margin-top: auto;
    margin-bottom: auto;
}
.reference p{
    color: gold;
    background-color:black;
    border-radius: 5px;
    font-size: larger;
    padding: 0 5px 3px 5px;
}
.reference blockquote{
    margin-top: 10%;
    max-width: 300px;
    width: 75%;
    font-style: italic;
    font-size: large;
    border-radius: 10px;
    padding: 10px;
    background: rgba(255,255,255,0.4);
}
.reference blockquote::before{
    content: '\201C';
    font-size: 50px;
    position: relative;
    color: $white;
    line-height: 0px;
    bottom: -15px;
    right: 0px;
}
.reference blockquote::after{
    content: '\201D';
    font-size: 50px;
    position: relative;
    color: $white;
    line-height: 0px;
    bottom: -18px;
    right: 5px;
}
@media (min-width:912px) {
    .main-references{
       margin-bottom: 10%;
    }
    .reference blockquote{
        max-width: 300px;
    }
    .reference{
        margin: 10% 25px auto 25px;
        // min-height: 25vh;
    }
    .references1 h1{
        font-size: $h-big;
    }
    .references-wrapper{
        @include flexCenterRowWrap();
    }
}