//Colours
$current-page-color:#145ecc;//#145ecc white text score = 5.99 AA
$hover-color-blue: #145ecc;//#145ecc white text score = 5.99 AA
$background-color-blue: #2b6dd0;//#2b6dd0 white text score = 4.99 AA
$white: rgb(255, 255, 255);
$gradient-red: linear-gradient(#c716df, #eb0046);
$btn-red: #eb0046;

//Fonts
$h-small: 1.8rem;
$h-medium: 2.1rem;
$h-big: 2.5rem;