@import "partials/variables";
@import "partials/mixins";
@import "partials/header";
@import "partials/footer";
@import "partials/index";
@import "partials/products";
@import "partials/references";
@import "partials/about";
@import "partials/contact";
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
main{
    font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}